@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Quicksand:wght@300&family=Roboto:wght@100;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

.fixed-background {
  min-height: 100vh; /* Full viewport height */
  background: url('./images/background.jpg') no-repeat center center fixed; 
  background-size: cover;
}
  